# Configuração do Banco de Dados (PostgreSQL)
# Exemplo para localhost. Se usar Docker, Host pode ser o nome do container ou IP.
DB_CONNECTION_STRING='Host=localhost;Port=5432;Database=NOME_DO_DB;Username=USUARIO_DO_DB;Password=SENHA_DO_USUARIO'

# Segurança
# Chave usada para assinar e validar tokens JWT. Deve ter pelo menos 32 caracteres.
JWT_SECRET='M8_PRODUCTION_CHAVE_SECRETA_TROQUE_POR_ALGO_MUITO_SEGURO_EM_PROD_1233'

# Integrações (Opcional - Futuro)
# WEBHOOK_URL='https://...'

# Seeding de Dados Massivos
SEED_USERS_FROM_JSON=false
