# URL da API Backend
VITE_API_URL=http://localhost:5261/api/v1

# Credenciais sugeridas para primeiro acesso (apenas documentação, não afeta código)
VITE_ADMIN_USER=admin@media8.com
VITE_ADMIN_PASSWORD=123456